body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.7);
}

.container {
    background-image: url("../img/widget-background.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    max-width: 696px;
    min-height: 435px;
    position: relative;
    margin: 20% auto;


}
.top {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.weather-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.info {
    margin-right: 65px;
    margin-top: 44px;
}
.current-day {
    margin-bottom: 127px;

}

.day-of-week {
    font-size: 25px;
    margin: 0;
}

.month {
    font-size: 12px;
    margin: 0;
}


.degree {
    font-size: 87px;
    margin: 0;
}

.symbol-degree {
    font-size: 44px;
    vertical-align: top;
}

.where {
    font-size: 22px;
    margin: 0;
}

.wind {
    margin-top: 23px;
}

.wind__item {
    display: inline-flex;
}

.pic-of-wind {
    margin-right: 10px;
}

.speed-of-wind {
    font-size: 25px;
    margin: 0;
}

.wind-speed {
    font-size: 12px;
}

.info-days {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);

}

.weather {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-flex;
    align-items: baseline;
    padding: 10px;

}
.weather__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    border-right: 1px solid #FFFFFF;
}
.weather__item:last-child {
    border-right: 0;
}


.days-of-week {
    margin: 0;
    font-size: 12px;

}
.font-bold {
    font-weight: 700;
}
.type {
    margin-bottom: 10px;
}
.degrees {
    border-top: 9px;
    font-size: 12px;
    margin-top: 9px;
    margin-bottom: 9px;
}

li img {
    margin-top: 10px;
}
